<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <span>名字：{{ name }}</span>
    <input type="text" v-model='name'>
    <span>年龄：{{ age }}</span>
    <input type="text" v-model="age">
    <span>{{ info.a}}</span>
  </div>
</body>

<script src = './index.js'></script>

<script>
  const vm = new Vue(
    {
      el:'#app',
      data: {
        name:"李文轩",
        age:24,
        info:{
          a:'a1',
          b:'c1'
        }
      }
    }
  )
  console.log(vm);
</script>
</html>